<!--
<div id="maintop">
    <div class="title container">Adventures</div>
</div>
-->
<!--
<div id="container-adventure" class="container rma setTopCOntainer">
    <ul class="list clear">
        <li class="boder-bottom-adv animate-repeat"  ng-repeat="adventure in listAventure">
            <a class="a-loop" href="#adventure/{{adventure.id}}">
                <div class="col-md-10 col-sm-10 col-xs-10 rml">
                    <div class="name-adv">{{adventure.name}}</div>
                    <div user-avatar uid="adventure.leader" width="45"></div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 icon-arrow text-right rmr">
                    <div class="parent">
                        <div class="child">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="boxnewAdventure container">
        <textarea id="new-adventure-title">

        </textarea>
        <div class="text-right">
            <button><img src="images/bt_newAv.png" /></button>
        </div>
    </div>
</div>
-->


<div ng-include="'app/views/menu-main.html'"></div>
