<div class="box-how">
    <div class="bg_avatar image-main"></div>
    <div class="avatar-how">
        <span class="span-user-avatar" user-avatar uid="notification.author" width="31"></span>
    </div>
    <div class="messagwd">{{notification.content}}</div>
<!--    <a href="javascript:void(0)" class="image-main reply-message-nofication" ng-click="clickReply(false,notification.)"></a>-->
	
	<a href="javascript:void(0)" class="image-main reply-message-nofication" ng-click="replyMessageNotification(notification)"></a>
</div>