<!--box-preferences-->
<div id="box-quick-reply-message" class="box-sahows" data-boolean=false>
    <div class="box-avatar-pre">
        <div class="relavei">
            <div class="avatar-message image-main"></div>
            <div class="avatar-user-message">
                <span user-avatar uid="notification.author" width="45" ></span>
        </div>
        <div class="tex-center" >
            <!-- Rock Ril John - Fox jumps over the lazy dog" is an English-language pangram, that is  -->
            <div class="name-reply" user-name uid="notification.author"></div> <div class="mess-rep">- {{notification.content}}</div>
           
        </div>
        
    </div>

  <!--  <div class="name-text">{{userData.firstname}} {{userData.lastname}}</div>
    <div>{{notification.content}}</div>-->
</div>
<div class="content-prv" input-box-reply repliedmessage="notification">
    <!--<div class="inputChat-Real">
        <div class="box-enter-chat">
            <input type="text"  name="message" ng-model="message" ng-keydown="inputMessage($event)" placeholder="Type a message here" />
        </div>
        <button id="enter-message-chat" ng-click="sendMesssageReal()" class="image-main"></button>
    </div>-->
</div>
<div class="tooltip-arrow image-main"></div>
<a href="javascript:void(0)" ng-click="closeQuickBoxReply()" class="lose-button image-main"></a>
</div>